.HeaderDiv {
   position: relative;
   width: 90vw;
   max-width: 90%;
   max-height: 30rem; 
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  
  .videoHeader {
   width: 100px;
   height: 20px;
   object-fit: cover;

  }
  
  @media screen and (max-width: 768px) {
   .HeaderDiv {
      height: 20rem; 
   }
  }
  
  @media screen and (max-width: 500px) {
   .HeaderDiv {
      height: 15rem; 
  }
}