*{
    box-sizing: border-box;
}
.main-page {
    background-color: #44CD71;
    display: block;
    width: 100vw;
    justify-content: flex-start; 
    flex-direction: column; 
    overflow-x: hidden;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
   }
   .custom-card {
    box-shadow: 0 0 10px rgba(45, 170, 36, 0.5);
    transition: background-color 0.3s ease; 
}

.custom-card:hover {
    background-color: #4f6df3;
}
   
.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.turning-page-container {
    width: 100%; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2DAB24 ;
    color: #15191D;
}

.navbar-logo img {
    height: 100px;
}


.navbar-links a {
    margin-left: 80px;
    color: white;
    text-decoration: none;
}

.turning-page-container {
    width: 50%; 
}

.description-container {
    width: 50%; 
}

.description-container h2 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #15191D;
}

.description-container h3 {
    font-size: 32px; 
    margin-bottom: 10px;
    font-weight: bold;
    color: green;
    position: relative; 
}

.description-container h3 .tagline-text {
    font-size: 28px;
    position: relative; 
}

.description-container h3 .tagline-text::before {
    content: ""; 
    position: absolute; 
    width: 100%; 
    height: 2px; 
    background-color: green; 
}

.description-container h3 .tagline-text::before {
    top: -10px; 
}

.description-container .green-text {
    color: #2DAB24; 
}

.description-container p {
    font-size: 23px;
    line-height: 1.5;
}


.navbar-links a:hover {
    color: #4c00ff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #2DAB24, #44CD71); 
    color: #15191D;
}

.navbar-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .turning-page-container, .description-container {
        width: 100%;
    }

    .navbar-links a {
        margin-left: 10px;
    }
}


